html, body {
  margin: 0;
}

header {
  width: 100%;
  background-color: grey;
  height: 1.5rem;
  text-align: center;
}

header li {
  display: inline;
  padding-right: 90px;
}

header ul {
  margin: 0;
  padding-top: .5rem;
}

.block-container {
  width: 80%;
  padding: 1px 10%;
  background-color: #E2E2E2;
}

.title-block h1 {
  text-align: center;
  font-size: 4rem;
  font-family: 'Berkshire Swash', cursive;
  border: solid green;
  border-width: 0 0 5px 0;
  margin-top: 1rem;
}

.first-block {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.first-block span p {
  font-size: 2.3rem;
  font-weight: bold;
  font-family: 'Berkshire Swash', cursive;
  font-style: italic;
}

#img1 {
  width: 400px;
  margin-right: 2rem;
  box-shadow: 8px -3px 20px 3px #888;
}

#img2 {
  box-shadow: 8px -3px 20px 3px #888;
  height: 80%;
}

.info {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.info-container {
  font-size: 1.8rem;
  width: 50%;
  margin: auto 0;
}

.info-text {
  position: relative;
  display: none;
  animation-name: scroll;
  animation-duration: 1.2s;
}

@keyframes scroll {
  from {opacity: 0;}
  to {opacity: 1;}
  from {left: 50px;}
  to {left: 0px;}
  from {opacity: 0;}
  to {opacity: 1;}
}

#img3 {
  margin-top: 30px;
  width: 40%;
  height: 40%;
  box-shadow: 8px -3px 20px 3px #888;
}

.second-block {
  background-color: #E2E2E2;
  padding-bottom: 20px;
}

.schedule {
  font-size: 2rem;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-align: center;
  position: relative;
}

.schedule ol:nth-child(4n+1) {
  text-decoration: underline;
  font-weight: bold;
}

iframe{
  width: 30vw;
  height: 350px;
  padding-bottom: 20px;
}

.map {
  display: flex;
  justify-content: space-around;
}

.map:nth-child(1) {
  padding-top: 30px;
  border: solid black;
  border-width: 0 0 1px 0;
}

.map span {
  width: 50%;
}

.third-block {
  background-color: white;
}

.downloads {
  width: 80%;
  padding: 100px 0;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.downloads a {
  padding: 5px;
  border-radius: 14px;
  border: solid black 1px;
  text-align: center;
  cursor: pointer;
  color: inherit;
}

.downloads a:hover {
  animation-name: hover;
  animation-duration: .3s;
  border-color: green;
  border-radius: 0px;
  background-color: white;
  transform: scale(1.05);
  cursor: pointer;
}

@keyframes hover {
  from {background-color: none;}
  to {background-color: white;}
  from {border-radius: 14px;}
  to {border-radius: 0px;}
  from {transform: scale(1);}
  to {transform: scale(1.05);}
}

.third-block p {
  font-size: 1.3rem;
  width: 40%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
}